@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
:root {
  --secundary-text: #61dafb;
  --primary-text: rgb(36 82 110 / 67%);
  --font-family: 'Roboto Slab', serif;
}

#root {
  padding: 3rem;
  font-family: var(--font-family);
}

.App {
  text-align: center;
}

.App-link {
  color: var(--secundary-text);
}

.box2 {
  /* width: 90%; */
  border:var(--secundary-text);
}

h1 {
  color: var(--primary-text);
  font-weight: bold;
}

.sc-bjUoiL{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--primary-text);
}

.form-inline {
  display: flex;
  gap: 1rem;
}

.sc-dkzDqf {
  font-size: 1.2rem;
  color: var(--secundary-text);
}

.sc-jqUVSM {
  font-size: 1rem;
}

.fwKvpK{
  font-size: 2rem;
  color: var(--primary-text);
}